<h1 class="titulo">Trámites y Servicios</h1>
<h3 class="mejora">Mejora regulatoria</h3>
<div #accordionContainer2 class="mar">
    <div class="accordion" id="tsAccordion">
        <div class="accordion-item" *ngFor="let encargado of listEncargados">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed tram" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#flush-col-' + encargado.id" aria-expanded="false"
                    [attr.aria-controls]="'flush-col-' + encargado.id"
                    (click)="getDocumentosByEncargadoId(encargado.id)">
                    {{encargado.tramiteServicio}}
                </button>
            </h2>
            <div [id]="'flush-col-' + encargado.id" class="accordion-collapse collapse"
                [attr.data-bs-parent]="'#tsAccordion'">
                <div class="accordion-body">
                    <p class="desc">Persona A Cargo: <span class="cargo">{{encargado.nombre}}</span></p>
                    <p class="desc">Correo Electrónico: <span class="info">{{encargado.mail}}</span>
                    </p>
                    <p class="desc">Dirección: <span class="info">{{encargado.direccion}}</span>
                    </p>
                    <p class="desc">Teléfono: <span class="info">{{encargado.telefono}}</span>
                    </p>
                    <div *ngFor="let documento of listDocumentos">
                        <ng-container *ngIf="documento.encargadoId === encargado.id">
                            <img class="img-fluid" src="../../../assets/img/iconodocumento.png" alt="icono">
                            <a class="link" [href]="convertBinaryToPdf(documento.archivoPdf)"
                                target="_blank">{{documento.nombre}}</a>
                        </ng-container>
                    </div>
                    <div *ngIf="isLoading" class="spinner">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>