.mar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.tram {
    font: 18px Raleway, sans-serif;
    color: #C29250;
}

.desc {
    color: #AAAAAA;
    font: 14px "Open Sans", sans-serif;
}

.cargo {
    color: #C29250;
    font: 18px "Open sans", sans-serif;
    font-weight: 600;
}

.info {
    color: #666666;
    font: 14px "Open sans", sans-serif;
    font-weight: 600;
}

.link {
    color: #555555;
    font: 14px "Open sans", sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.titulo {
    color: #C29250;
    font: 48px Raleway, sans-serif;
    text-align: center;
}

.mejora {
    color: #666666;
    font: 30px Raleway, sans-serif;
    text-align: center;
}

.documento-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}