<footer>
    <div class="footer-content">
        <div class="logo">
            <a href="https://www.facebook.com/people/Gobierno-Municipal-Morole%C3%B3n-Gto/100069166421138/"
                target="_blank" rel="noopener">
                <img src="../../assets/img/logo-f.png" alt="Logo Facebook">
            </a>
        </div>
        <div class="message">
            <h1>Siguenos en Redes</h1>
            <h4 class="small-text">© Informática Administración 2021 - 2024.</h4>
        </div>
    </div>
</footer>