<h2 class="titulo">Contacto</h2>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-12 text-center">
            <div class="d-flex flex-column align-items-center">
                <img class="img-fluid" src="../../../assets/img/contacto/telefono.png" alt="imagen">
                <p class="texto">Tel: +445 457 001</p>
                <p class="texto">Lunes - Viernes (8am-3pm)</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="d-flex flex-column align-items-center">
                <img class="img-fluid" src="../../../assets/img/contacto/atencion.png" alt="imagen">
                <p class="texto">Email: atencionciudadana@moroleon.gob.mx</p>
                <p class="texto">Web: www.moroleon.gob.mx</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="d-flex flex-column align-items-center">
                <img class="img-fluid" src="../../../assets/img/contacto/lugar.png" alt="imagen">
                <p class="texto">C. Hidalgo 30, CP 38800</p>
                <p class="texto">Moroleón, Gto.</p>
            </div>
        </div>
    </div>
</div>