.navigation-bar {
    width: 100%;
    height: fit-content;
    background-color: #315637;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 15px;
}

.nav-link {
    text-decoration: none;
    font-weight: 700;
    color: #C29250;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    font-size: 14px;
    font-family: Open-Sans, sans-serif;

}

.nav-link.active {
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
}