<nav class="navigation-bar">
    <a routerLink="/" class="logo-link"><img class="logo" src="../assets/img/logo.png"></a>
    <div class="nav-links-container">
        <a (click)="setActiveLink('inicio')" class="nav-link"
            [ngClass]="{ 'active': activeLink === 'inicio' }">Inicio</a>
        <a (click)="setActiveLink('comunicacion')" class="nav-link"
            [ngClass]="{ 'active': activeLink === 'comunicacion' }">Comunicaci&oacute;n</a>
        <a (click)="setActiveLink('tramiteservicios')" class="nav-link"
            [ngClass]="{ 'active': activeLink === 'tramiteservicios' }">Tr&aacute;mites y Servicios</a>
        <a (click)="setActiveLink('contacto')" class="nav-link"
            [ngClass]="{ 'active': activeLink === 'contacto' }">Contacto</a>
    </div>
</nav>