.enlace {
    font: 24px Ralweay sans-serif;
    color: #444444;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.Tenlace {
    color: #c29250;
    font: 40px Ralweay sans-serif;
    text-align: center;
}