<h2 class="Tenlace">Enlaces A Nuestras P&aacute;ginas</h2>

<div class="row justify-content-md-center">
    <div class="col-md-2 col-sm-2 col-xs-12"><a href="http://transparencia.moroleon.gob.mx/" target="_blank"
            rel="noopener"><img class="img-fluid" src="../../../assets/img/team/1.jpg" alt="imagen"></a>
        <h4 class="enlace">Redes Sociales</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"><a
            href="https://www.facebook.com/people/Gobierno-Municipal-Morole%C3%B3n-Gto/100069166421138/" target="_blank"
            rel="noopener"><img class="img-fluid" src="../../../assets/img/team/2.jpg" alt="imagen"></a>
        <h4 class="enlace">Unidad de Acceso a la Información Pública</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"><a href="http://finanzas.moroleon.gob.mx/" target="_blank"
            rel="noopener"><img class="img-fluid" src="../../../assets/img/team/3.jpg" alt="imagen"></a>
        <h4 class="enlace">Finanzas Moroleón 2022</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"><a href="http://sare.moroleon.gob.mx/" target="_blank" rel="noopener"><img
                class="img-fluid" src="../../../assets/img/team/4.jpg" alt="imagen"></a>
        <h4 class="enlace">SARE</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"><a href="http://vecs.moroleon.gob.mx/" target="_blank" rel="noopener"><img
                class="img-fluid" src="../../../assets/img/team/5.jpg" alt="image"></a>
        <h4 class="enlace">VECS</h4>
    </div>
</div>