<div class="about-area">
    <h1 class="title">Morole&oacute;n <b>Seguro</b></h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <video controls [autoplay]="true" [muted]="true" [loop]="true" id="miVideo" width="100%">
                    <source src="../../../assets/video/deporte.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-6">
                <div class="separator">
                    <h2 class="titleh2"><i>Recuperemos Morole&oacute;n</i></h2>
                    <p class="text">
                        Hoy m&aacute;s que nunca nuestra ciudad nos necesita a todos, a poco m&aacute;s de una semana de
                        tomar
                        las riendas de la administraci&oacute;n del municipio, con tristeza hemos constatado el abandono
                        y la
                        indiferencia de las que Morole&oacute;n fue objeto. Falta mucho por investigar y descubrir, pero
                        es
                        evidente que las cosas no cuadran y que hay much&iacute;simas irregularidades por las que los
                        responsables deber&aacute;n responder ante las autoridades correspondientes. Los necesitamos a
                        cada uno
                        de ustedes para trabajar juntos por Morole&oacute;n, nuestro municipio debe volver&aacute; ser
                        <b>el
                            pueblo feliz</b>, feliz, con prosperidad y oportunidades para todos y juntos lo vamos a
                        lograr.
                    </p>
                    <p class="name"><i>Alma Denisse S&aacute;nchez Barrag&aacute;n</i></p>
                </div>
            </div>
        </div>
    </div>
</div>