<div class="mar">
    <h2 class="titulo">Directorio De Empresas</h2>
</div>
<div class="row mar">
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
        <button class="btn btn-outline-secondary boton" (click)="mostrarImagenes('TODOS')"
            [ngClass]="{'activo': botonActivo === 'TODOS'}">Todos</button>
    </div>
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
        <button class="btn btn-outline-secondary boton" (click)="mostrarImagenes('HOTEL')"
            [ngClass]="{'activo': botonActivo === 'HOTEL'}">Hoteles</button>
    </div>
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
        <button class="btn btn-outline-secondary boton" (click)="mostrarImagenes('RESTAURANTE')"
            [ngClass]="{'activo': botonActivo === 'RESTAURANTE'}">Restaurantes</button>
    </div>
    <div class="col-md-3 col-sm-6 d-flex justify-content-center">
        <button class="btn btn-outline-secondary boton" (click)="mostrarImagenes('TIENDA')"
            [ngClass]="{'activo': botonActivo === 'TIENDA'}">Tiendas</button>
    </div>
</div>

<div class="row justify-content-md-center mar">
    <ng-container *ngFor="let dire of listDirectorios ">
        <div class="col-md-4 mb-3" *ngIf="dire.tipo === 'TIENDA' && mostrarTIENDA || 
        dire.tipo === 'RESTAURANTE' && mostrarRESTAURANTE || 
        dire.tipo === 'HOTEL' && mostrarHOTEL">
            <div class="image-container">
                <img class="img-fluid" [src]="convertBinaryToUrl(dire.imagen)" alt="imagen"
                    (click)="mostrarImagenAmpliada(dire.imagen)">
                <div class="overlay" (click)="mostrarImagenAmpliada(dire.imagen)">
                    <div class="text">{{dire.tipo}}</div>
                    <div class="text">{{dire.descripcion}}</div>
                </div>
            </div>
            <div *ngIf="imagenAmpliada" class="imagen-ampliada" (click)="cerrarImagenAmpliada()">
                <img class="img-fluid" [src]="convertBinaryToUrl(imagenAmpliadaUrl)" alt="imagen">
                <div class="cerrar">&times;</div>
            </div>
        </div>
    </ng-container>
</div>